@page "/a001"
@inject HttpClient Http

<h3>a001 service Log </h3>

<p>This page shows the content of the a001 service log .</p>

@if (logContent == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <pre>@logContent</pre>
}

@code {
    private string logContent= string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
             logContent = await Http.GetStringAsync("api/A001/log");
        }
        catch (HttpRequestException ex)
        {
            logContent = $"Error: {ex.Message}";
        }
    }
}
